{% extends "DyweeShipmentBundle::admin.html.twig" %}

{% block metaTitle %}
    Ajout d'une méthode de livraison {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Ajout d'une méthode de livraison</h1>

    {%  include "DyweeShipmentBundle:ShipmentMethod:form.html.twig" %}
{% endblock %}