{% extends "DyweeShipmentBundle::admin.html.twig" %}

{% block metaTitle %}
    Modification d'une règle de livraison {{ parent() }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h2 class="box-title">Modification d'une règle de livraison</h2>
                </div>
                <div class="box-body">
                    {%  include "DyweeShipmentBundle:ShipmentRule:form.html.twig" %}
                </div>
            </div>
        </div>

    </div>


{% endblock %}