{# Dywee\CMSBundle\Resources\View\CMS\edit.html.twig #}

{%  extends "DyweeCMSBundle::admin.html.twig" %}

{% block metaTitle %}
    Modification d'une page {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Ajout</h1>

    {%  include "DyweeCMSBundle:CMS:form.html.twig" %}
{% endblock %}